<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
</head>


<body>
    <h2>Animals Name </h2>
    <h1> <%=animal.name%> </h1>
    <h2>Animals Species </h2>
    <h1> <%=animal.species%> </h1>
    <h2>Is Animal Extinct </h2>
    <h1> <%=animal.extinct%> </h1>
    <h2>Animals Location </h2>
    <h1> <%=animal.location%> </h1>
    <h2>Animals Life Expectancy </h2>
    <h1> <%=animal.lifeExpectancy%> </h1>

    <a href="/animals/<%=animal._id%>/edit"><button>Edit</button></a>
    <form action="/animals/<%=animal._id%>/?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
    <a href="/animals"><button>To Index</button></a>

    
    
</body>
</html>